#header{
background-color: #5d8e50;
background-image:url(/images/stories/pos_back.jpg);
background-repeat: no-repeat;
background-position: center right;
}
h1{
color: red;
background:gold;
text-align: center;
border: 2px solid #f00;
padding:5px;
border-style: groove;
}
p{
    background-color: blue;background-size: 20px;
    font-style:italic;color: red;
    font-size:15px;
}

a{
  color:maroon;
  text-decoration:none;
}
a:visited{
  color:red;
}
a:hover{
  color: #000;
  text-decoration : underline;
}
a:focus{
  color: magenta;
}
a:active{
  color: yellow;
}